.dashboard {
    &__container {
        width: 100%;
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;

        .issue-board {
            &__container {
                width: 100%;
                height: calc(100% - 110px);
                display: flex;
                overflow: scroll;
            }
        }
    }
}
